<!-- <ul>
  <li [routerLink]="['psmDeployment']">Psm Deployment</li>
  <li [routerLink]="['/psmOverview']">Psm Overview</li>
</ul> -->
<!-- 
<h2>
  I am psm-ui app, use above links to load the micro frontends running on other
  ports
</h2> -->

<!-- <div class="container">
  
</div> -->

<!-- <psm-custom-header (navigate)="onNavigationClick($event)"></psm-custom-header> -->

<!-- 
<div *ngIf="showSpinner; else loggedOut">
  Loading in progress...
</div>

<ng-template #loggedOut>
  <router-outlet></router-outlet>
</ng-template>
 -->

<router-outlet></router-outlet>